* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

#color-box {
  width: 200px;
  height: 200px;
  background-color: rgb(33, 33, 167);
}

button {
  background-color: rgb(3, 95, 95);
  padding: 20px;
  border-radius: 10px;
  color: whitesmoke;
  border: 0;
}
